@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons-round {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
  /* border: 1px solid blue; */
}

:root {
  /*Color Palette*/
  
  /*Orange Values*/
  --antique-brass: #CB977C;
  /*Antique Brass #CB977C, rgb(203,151,124), hsl(21,43,64) - peru*/
  --desert-sand: #E2C5B6;
  /*Desert Sand - #E2C5B6, rgb(226,197,182), hsl(20,43,80) - wheat*/
  --linen: #F3E8E2;
  /*Linen - #F3E8E2, rgb(243,232,226), hsl(21,41,92) - linen*/
  
  /*Green Values*/
  --xanadu: #767B65;
  /*Xanadu - #767B65, rgb(118,123,101), hsl(74,10,44) - darkolivegreen*/
  --ash-gray: #A8AC9A;
  /*Ash Gray - #A8AC9A, rgb(168,172,154), hsl(73,10,64) - darkseagreen*/
  --timberwolf: #D9DAD2;
  /*Timberwolf - #D9DAD2, rgb(217,218,210), hsl(67,10,84) - honeydew*/
  
  /*Complimentary Value*/
  --french-blue: #2E72B2;
  /*French Blue - #2E72B2, rgb(46,114,178), hsl(209,59,44) - cornflower blue*/
  
  /*Fonts*/
  --primary-font: 'Merriweather', serif;
  --secondary-font: 'Fira Sans', sans-serif;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
  background-color: var(--linen, linen);
  font-family: var(--primary-font, Georgia, system-ui, serif);
  font-size: 1rem;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.00rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.67rem; }

ol, ul {
	list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.page-container {
  min-height: 100vh;
  
  display: grid;
  grid-template-columns: 300px 4fr;
  grid-template-areas: "page-aside page-header"
                       "page-aside page-main";
}

.page-header {
  background-color: #FFF;
  color: var(--xanadu, darkolivegreen);

  box-shadow: 0 5px 5px var(--desert-sand, wheat);
  
  grid-area: page-header;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "search-container profile-container"
                       "welcome-container button-container";
}

.search-container {
  grid-area: search-container;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.search-container div {
  padding: .25em .75em;

  cursor: pointer;
}

.search-container input {
  width: 30em;
  background-color: var(--linen, linen);
  color: var(--french-blue, cornflowerblue);
  border-radius: 1em;
}

.profile-container {
  padding: 1ch 0;
  grid-area: profile-container;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.alarm {
  padding: .25em .75em;

  cursor: pointer;
}

.small-picture {
  width: 3.1em;
  height: 3.1em;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 5px solid var(--xanadu, darkolivegreen);

  background-image: url(imgs/leilani-angel-K84vnnzxmTQ-unsplash.jpg);
}

.welcome-container {
  grid-area: welcome-container;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.large-picture {
  width: 7em;
  height: 7em;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 5px solid var(--xanadu, darkolivegreen);

  background-image: url(imgs/leilani-angel-K84vnnzxmTQ-unsplash.jpg);
}

.welcome-message p:nth-child(2) {
  font-size: 1.8rem;
}

.welcome-message span {
  font-style: italic;
  color: var(--french-blue, cornflowerblue);
}

.button-container {
  grid-area: button-container;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.btn {
  background-color: var(--linen, linen);
  color: var(--french-blue, cornflowerblue);

  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  border-radius: .3em;

  cursor: pointer;
}

.page-aside {
  background-color: var(--antique-brass, peru);
  grid-area: page-aside;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.aside-header,
.aside-nav li,
.aside-links li {
  color: var(--french-blue, cornflowerblue);
}

.aside-nav li,
.aside-links li {
  margin-top: .5em;
  padding:.25em 0 .25em 2em;
  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 700;

  display: flex;
  gap: .5em;
}

.aside-header {
  margin-top: .5em;
  padding:.1em 0 .1em 2em;
  display: flex;
  align-items: center;
  gap: .5em;
}

.aside-nav a,
.aside-links a {
  color: var(--french-blue, cornflowerblue);
  font-family: var(--secondary-font, Arial, Helvetica, system-ui, sans-serif);
  text-decoration: none;
}

.page-main {
  padding: .5em;
  grid-area: page-main;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "projects-container main-sidebar";
}

.projects-container {
  grid-area: projects-container;
}

.projects-main {
  padding: .5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.projects-heading {
  padding-left: .5em;
  color: var(--french-blue, cornflowerblue);
}

.project-card {
  padding: 1em;

  background-color: #FFF;
  color: var(--xanadu, darkolivegreen);
  border-left: 10px solid var(--french-blue, cornflowerblue);
  border-radius: 1em;
  border-bottom-left-radius: 15px;
  box-shadow: 0 5px 5px var(--desert-sand, wheat);

  display: flex;
  flex-direction: column;
  gap: .75em;
}

.project-card p {
  font-family: var(--secondary-font, Arial, Helvetica, system-ui, sans-serif);
}

.project-footer {
  display: flex;
  justify-content: flex-end;
  gap: .25em;
}

.project-footer div {
  display: flex;
  cursor: pointer;
}


.main-sidebar {
  grid-area: main-sidebar;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.announcements-container {
  grid-area: announcements-container;
}

.announcements-main {
  padding: .5em;
  color: var(--xanadu, darkolivegreen);
  
  display: flex;
  flex-direction: column;
}

.announcement {
  padding: 1.75em;
  background-color: #FFF;
  border-radius: 1em;
  box-shadow: 0 5px 5px var(--desert-sand, wheat);

  font-size: .7rem;
}

.announcement hr {
  margin: .5em 0;
  border: .125em solid var(--antique-brass, peru);
}

.announcements-heading,
.trending-heading {
  padding-left: .5em;
  color: var(--french-blue, cornflowerblue);
}

.announcement header {
  margin-bottom: .375em;
}

.announcement p {
  font-family: var(--secondary-font, Arial, Helvetica, system-ui, sans-serif);
}

.trending-container {
  grid-area: trending-container;
}

.trending-main {
  padding: .5em;

  color: var(--xanadu, darkolivegreen);
}

.trending-posts {
  background-color: #FFF;
  border-radius: 1em;
  padding: 1.75em;
  box-shadow: 0 5px 5px var(--desert-sand, wheat);
  
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post-container {
  display: flex;
  gap: 1em;
}

.medium-picture {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 5px solid var(--xanadu, darkolivegreen);
}

.picture-one {
  background-image: url(imgs/leilani-angel-K84vnnzxmTQ-unsplash.jpg);
}

.picture-two {
  background-image: url(imgs/jake-nackos-IF9TK5Uy-KI-unsplash.jpg);
}

.picture-three {
  background-image: url(imgs/charlesdeluvio-kVg2DQTAK7c-unsplash.jpg);
}

.picture-four {
  background-image: url(imgs/michael-dam-mEZ3PoFGs_k-unsplash.jpg);
}